{
	"filepath": "./testData.csv",
	"load_cols": {
		"col1": "float",
		"col2": "int",
		"col3": "int",
		"col4": "str"
	},
	"processing_steps": [{
		"remove": ["col1"]
	}, {
		"hash": ["col2", "col4"]
	}, {
		"cast": {"col3": "float"}
	}, {
		"sample": 0.5
	}],
	"sql": {"db":"sqlite:///./testDb.db", "table":"testCsv"}
}
